<nav id="top" class="navbar navbar-expand-lg shadow-lg mb-5  navbar-dark bg-dark p-4 ps-1 ">
  <div class="container-fluid text-white justify-content-lg-start ">
    <a class="navbar-brand" href="#">Képes-hangos angol szótár</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Listák</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/users" >Felhasználók</a></li>
            <li><a class="dropdown-item" routerLink="/words">Szavak</a></li>
            <li><a class="dropdown-item" routerLink="/collections">Gyűjtemények</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/wordtypes">Szófajok</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/users">Felhasználók</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

    </div>
    <div class="dropdown ms-lg-3 ms-auto " >
      <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Alul fix elem -->
<div class="topButton position-fixed bottom-0 end-0 float-end m-3">
  <a (click)="onClick('top')">
    <i class=" fas fa-caret-square-up fa-5x text-success " aria-hidden="true"></i>
  </a>
</div>
