<div class="container-fluid">
  <div class="row row-cols-1  row-cols-sm-2 row-cols-md-auto row-cols-lg-auto justify-content-center ">
    <div class="col" *ngFor="let user of users">
      <!-- <div class="card-group"> -->
        <div class="card grow border border-left-2 border-dark shadow-lg rounded mx-auto mt-4 d-flex justify-content-center"
          style="width: 18rem;">
          <img src={{imgUrl}}{{user.avatar}} class="card-img-top shadow-lg" alt="{{user.lastName}} {{user.firstName}}">
          <div class="card-body">
            <h5 class="card-title">{{user.lastName}} {{user.firstName}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
